html, body {
  font-family: 'Open Sans', Arial,  sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.42;
  background: #001821;
}

.wrapper {
  overflow: hidden;
}

ul > li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.34;
  margin-bottom: 26px;
}

h2 {
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}
