.btn {
  display: inline-flex;
  padding: 16px 30px;
  color: #ffffff;
  background: #f71811;
  font-size: 14px;
  font-weight: bold;
  border-radius: 35px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  align-items: center;
}

.btn_type_first:hover {
  background-color: #cc0606;
  color: #ffffff;
  box-shadow: 0 0 20px 0 #ee3e37;
}

.btn_type_second {
  color: #F5170E;
  padding: 16px 30px;
  border: 1px solid;
  background-color: #ffffff;
}

.btn_type_second:hover {
  background-color: #DA0100;
  border: 1px solid transparent;
  color: #ffffff;
  box-shadow: 0 0 20px 0 #ee3e37;
}

.btn_type_third {
  background-color: #7a7878;
}

.btn_type_third:hover {
  background: #2B2B2B;
  color: #ffffff;
  box-shadow: 0 0 20px 0 #5a5959;
}
