.footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__container {
  padding-top: 50px;
  margin-bottom: 60px;
  display: flex;
}

.footer__line {
  border-top: 1px solid #FFFFFF;
}